<h1>Listing players</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Total Seasons</th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.first_name %></td>
    <td><%= player.team.name %></td>
    <td><%= player.seasons.size %></td>
    <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'View Stats', :controller => 'stats', :player_id => player.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
